.footer {
    background-color: #0D1B2A;
    color: #1B9AAA;
    padding: 20px 40px;
    display: flex;
    flex-direction: column; /* Columna para organizar verticalmente */
    align-items: center; /* Centrar horizontalmente */
    font-family: 'Inter', sans-serif;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 20px; /* Espacio superior */
    margin-bottom: 20px; /* Espacio inferior */
}

.contact-info {
    text-align: left;
    margin-right: 20px; /* Espacio a la derecha */
}

.contact-info h3 {
    font-size: 2rem;
    margin-bottom: 10px;
}

.contact-info p {
    font-size: 2rem;
    margin: 5px 0;
    display: flex;
    align-items: center;
}

.icon {
    margin-right: 10px;
}

.phone-icon,
.email-icon {
    width: 25px;
    height: 16px;
}

.social-icons-footer {
    display: flex;
    gap: 40px;
    margin-top: 70px; /* Espacio arriba de los íconos */
    margin-bottom: 20px; /* Espacio abajo de los íconos */
}

.social-icon-footer {
    width: 50px;
    height: 50px;
    transition: filter 0.3s ease;
}

.social-icon-footer:hover {
    filter: brightness(0) invert(1);
}

.copyright {
    text-align: center;
    margin-top: 70px;
    margin-bottom: 20px;
}

@media (max-width: 768px) {
    .footer-content {
        flex-direction: column;
        align-items: center;
    }

    .contact-info,
    .social-icons-footer,
    .copyright {
        margin-bottom: 20px;
    }
}