.main-container-nosotros {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
}

.izquierda-nosotros {
    display: grid;
    width: 100%;
    margin: 0.5rem;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 10px;
}

#img1 {
    width: 250px; 
    height: 250px;    
    object-fit: cover;           
    border-radius: 50%;       
    border: 0.3125rem solid #FAD201;  
    justify-self: center; 
    align-self: center;
}

#img2 {
    width: 250px; 
    height: 250px;    
    object-fit: cover;           
    border-radius: 50%;       
    border: 0.3125rem solid #FAD201; 
    justify-self: center; 
    align-self: center;
}

#img3 {
    width: 250px; 
    height: 250px;    
    object-fit: cover;           
    border-radius: 50%;       
    border: 0.3125rem solid #FAD201; 
    justify-self: center; 
    align-self: center;
}

#img4 {
    width: 250px; 
    height: 250px;    
    object-fit: cover;           
    border-radius: 50%;       
    border: 0.3125rem solid #FAD201; 
    justify-self: center; 
    align-self: center;
}

.derecha-nosotros {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto; 
}

.derecha-nosotros h1 {
    font-size: 2.5rem;
    font-weight: 700;
    color: #660000;
    text-align: center;
    width: 100%;
}

    
.derecha-nosotros p {
    font-size: 1.5vw;
    font-weight: 400;
    text-align: justify;
    color: black;
    margin: 1rem;
}

/* Media query para pantallas pequeñas (celulares o tablets) */
@media (max-width: 768px) {
    .main-container-nosotros {
        grid-template-columns: 1fr; /* 1 columna en pantallas pequeñas */
        grid-template-rows: auto auto; /* Se añade esta línea para organizar filas */
        padding: 1rem;
    }

    .izquierda-nosotros, 
    .derecha-nosotros {
        padding: 1rem 0;
    }

    .contenedor-texto p {
        font-size: 1.5vw;
    }
}