.main-comtainer-nosotros {
    display: grid;
    grid-template-columns: 50% 50%;
}

.izquierda-nosotros {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
}

.izquierda-nosotros img {

    max-width: 100%;                    
    max-height: 100%;                   
    object-fit: contain;                
    margin: 0.2rem 0 0.1rem 0;          
    border-radius: 5rem 5rem 5rem 5rem;       
    border: 0.3125rem solid #FAD201; 
}

.derecha-nosotros {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto; 
/*

.contenedor-texto {
    text-align: center;
}

.contenedor-texto h2 {
    font-size: 2rem; 
    margin-bottom: 1rem; 
}

.contenedor-texto p {
    font-size: 1.6rem; 
    margin-top: 1rem; 
    color: black;
}

@media (max-width: 768px) {
    .contenedor {
        grid-template-columns: 1fr;
        height: auto;
    }

    .contenedor-texto {
        font-size: 1.2rem; 
        line-height: 1.5;
    }
}
*/