/* Estilos generales */
body {
    font-family: 'Poppins', sans-serif;
    color: #333;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

.productos-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Dos columnas */
    gap: 1.5rem;
    padding: 2rem;
    justify-items: center; 
}

.producto {
    text-align: center;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.producto img {
    width: 20rem; 
    height: 20rem; 
    border-radius: 50%; 
    object-fit: cover; 
    display: block;
    border: 0.3125rem solid #FAD201; 
    border-bottom: 0.3125rem solid #FAD201;
}

.producto p {
    text-align: center;
    margin-top: 0.5rem;
    font-size: 1rem;
}

/* Estilo para pantallas pequeñas */
@media (max-width: 600px) {
    .productos-grid {
        grid-template-columns: 1fr; 
    }
}
