.productos-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Dos columnas */
    gap: 1.5rem;
    padding: 2rem;
    justify-items: center; 
}


.productos-titulo {
    grid-column: 1 / -1; 
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1.5rem;
    color: #660000;
}

.producto {
    text-align: center;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.producto img {
    width: 20rem; 
    height: 20rem; 
    border-radius: 50%; 
    object-fit: cover; 
    display: block;
    box-shadow: 3px 3px 5px black;
}

.producto h1 {
    text-align: center;
    margin-top: 1rem;
    font-size: 1.2rem;
}

/* Estilo para pantallas pequeñas */
@media (max-width: 600px) {
    .productos-grid {
        grid-template-columns: 1fr; 
    }
}
